ul {
    list-style: none;
}

#Maze{
    width: 76em;
    float: left;
}

#Maze div:nth-of-type(16n + 1) {
    clear: both;
}

#SideBar {
    width: 15em;
    float: left;
}

#scoreContainer, #stepsLeftContainer {
    font-weight: bolder;
}

#score, #stepsLeft {
    font-weight: normal;
}

.mazeTile, .mazeTileCurrent {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.75em;
    display: inline-block;
    width: 5.5em;
    height: 7.5em;
    border: 0.1em solid black;
    word-wrap: break-word;
    padding: 0.25em;
    float: left;
}

.mazeTileCurrent {
    border-color: red;
}

.mazeCharacter, .mazeHazard, .mazeExit {
    font-weight: bold;
}

.mazeCharacter {
    color: red;
}

.mazeExit {
    color: blue;
}
