ul {
    list-style: none;
}

input {
    font-size: 1.2em;
    width: 6em;
    height: 2em;
    margin-left: 0.4em;
    margin-bottom: 1em;
    border-color: black;
}

input:disabled {
    background-color: black;
    color: black;
}

input:hover:not(:disabled) {
    background-color: gray;
}

input:first-child, input:nth-child(5){
    display: block;
    margin-left: 7em;
}

input:last-child {
    margin-top: 1em;
    margin-left: 5em;
    width: 10em;
}

#Maze{
    width: 76em;
    float: left;
}

#Maze div:nth-of-type(16n + 1) {
    clear: both;
}

#Sidebar {
    width: 24em;
    float: left;
}

#scoreContainer, #stepsLeftContainer {
    font-weight: bolder;
}

#score, #stepsLeft {
    font-weight: normal;
}

.mazeTile, .mazeTileCurrent {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.75em;
    display: inline-block;
    width: 5.5em;
    height: 7.5em;
    border: 0.1em solid black;
    word-wrap: break-word;
    padding: 0.25em;
    float: left;
}

.mazeTileCurrent {
    border-color: red;
}

.mazeCharacter, .mazeHazard, .mazeExit {
    font-weight: bold;
}

.mazeCharacter {
    color: red;
}

.mazeExit {
    color: blue;
}

.message {
    display: block;
}
